* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

:root {
  --bold-color: #f9876f;
  --secondary-color: #596c73;
  --tertiary-color: #b1bdb9;
  --neutral-color: #f2f2f3;
}

header {
  background-image: url("../images/header-bg.jpeg");
  background-size: cover;
  color: var(--bold-color);
  font-weight: bold;
  text-shadow: 2px 2px #596c73;
  padding: 20px;
}
span{
  color: gold;
}
.header-description {
  padding: 100px;
}



footer {
  text-align: center;
  font-size: 15px;
  color: black;
  margin-bottom: 0px auto;
  padding: 30px 0px;
}